.MenuItem {
    width: 300px;
    background-color: skyblue;
    cursor: pointer;
    color: black;
    border: 1px solid black;
}

.MenuItem:hover {
    background-color: orangered;
    color: white;
}